<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>hello from users page</h1>
    <ul>
      <li>user 1</li>
      <li>user 2</li>
      <li>user 3</li>
      <li>user 4</li>
      <li>user 5</li>
      <li>user 6</li>
    </ul>
  </body>
</html>
